.lmBtn{
    display: block;
    border: 1px solid var(--button-hover);
border-radius: 12px;
padding: 12px;
width: 156px;
height: 44px;
font-weight: 600;
font-size: 16px;
color: var(--main);
margin: 0 auto 124px;
}

.disable{
    display: none;
}