.lmBtn {
  display: block;
  border: 1px solid var(--button);
  background: var(--button);
  border-radius: 12px;
  padding: 12px;
  width: 156px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  margin: 0 auto 124px;
  transition: all 0.5s ease-in;
}

.lmBtn:hover {
  border: 1px solid var(--button-hover);
  background: var(--button-hover);
}
.disable {
  display: none;
}
