.filtersWrap{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 8px 0;
    margin-bottom: 56px;
}
.filtersForm{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.milesWrap{
    display: flex;
}
.filterBtn {
    border-radius: 12px;
padding: 12px;
width: 156px;
height: 44px;
background: var(--button);
font-weight: 600;
font-size: 16px;
color: var(--white);
  transition: all 0.5s ease-in;

}

.filterBtn:hover{
    background: var(--button-hover);
}

/* .loading {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 8px;
} */


